* {
  font-family: "Raleway", sans-serif;
  padding: 0px;
  margin: 0px;
  color: white;
}

:root {
  --c1: #95d6ea;
  --c2: #7bc7dd;
  --c3: #62a0c79a;
  --c4: #6392b691;
  --c5: #29769ce7;
}

#app {
  width: 100vw;
  height: 100vh;
  background-image: url(./src/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  grid-template-rows: 10% 90%;
}

.search-bar {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  height: 2rem;
  gap: 8px;
  padding: 1rem;
  margin: 16px;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 100%;
  margin: 36px;
  font-size: 24px;
}

.region {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.region > div {
  font-size: 48px;
  padding: 16px;
}

.location {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  font-size: 24px;
}

.location > div {
  background-color: var(--c5);
  padding: 16px;
}

.forecast {
  display: flex;
  justify-content: space-between;
  background-color: var(--c5);
  padding: 36px;
  gap: 36px;
  overflow-x: auto;
}

.forecast-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.search-bar input {
  padding: 8px 12px;
  height: 3rem;
  font-size: 1.6rem;
  min-width: 40%;
  box-sizing: border-box;
  background-color: var(c3);
  color: black;
}

.search-bar button {
  padding: 8px;
  border-radius: 12px;
  border-style: none;
  font-size: 1.5rem;
  color: white;
  background-color: var(--c4);
}

.search-bar button:hover {
  background-color: var(--c5);
  transition: 250ms;
}

.hidden {
  display: none;
}

/* spinner from https://loading.io/css/ */

.lds-dual-ring {
  display: inline-block;
  margin: 25% auto;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
