* {
  font-family: "Raleway", sans-serif;
  padding: 0px;
  margin: 0px;
  color: white;
}

:root {
  --c1: #95d6ea;
  --c2: #7bc7dd;
  --c3: #62a0c79a;
  --c4: #6392b691;
  --c5: rgba(70, 117, 141, 0.575);
}

::-webkit-scrollbar-thumb {
  background-color: var(--c1);
  height: 0.4rem;
}

#app {
  width: 100vw;
  height: 100vh;
  background-image: url(./src/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  grid-template-rows: 10% 90%;
}

.search-bar {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  height: 2rem;
  gap: 8px;
  padding: 1rem;
  margin: 16px;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 100%;
  margin: 36px;
  font-size: 24px;
}

.region {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.region > div {
  font-size: 48px;
  padding: 16px;
}

.location {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  font-size: 24px;
}

.location > div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--c5);
  padding: 16px;
}

.location > div > img {
  width: 5rem;
}

.forecast {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: var(--c5);
  padding: 36px;
  gap: 36px;
  overflow-x: auto;
}

.forecast-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.hour {
  font-size: 18px;
}

.search-bar input {
  padding: 8px 12px;
  height: 3rem;
  font-size: 1.6rem;
  min-width: 40%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 4px solid rgba(255, 255, 255, 0.801);
  color: white;
}

.search-bar input:focus-visible {
  outline: auto rgba(255, 255, 255, 0.274);
  background-color: white;
  color: black;
  transition: 250ms;
}

.search-bar button {
  padding: 8px;
  border-radius: 12px;
  border-style: none;
  font-size: 1.5rem;
  color: white;
  background-color: transparent;
}

.search-bar button:hover {
  background-color: var(--c4);
  transition: 250ms;
}

.hidden {
  display: none;
}

.switch-hours-days {
  border-style: none;
  background-color: transparent;
  color: white;
  padding: 4px;
  font-size: 18px;
  border: 1px solid white;
  position: absolute;
  top: 0;
  left: 0;
}

.switch-hours-days:hover {
  background-color: var(--c4);
  transition: 250ms;
}

/* spinner from https://loading.io/css/ */

.lds-dual-ring {
  display: inline-block;
  margin: 25% auto;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen AND (max-width: 480px) {
  #app {
    width: 100vw;
    height: 100vh;
    grid-template-rows: 10% 90%;
  }

  .container {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 100%;
    font-size: 12px;
    margin: 8px;
  }

  .region > div {
    font-size: 2rem;
  }

  .location {
    padding: 12px;
    gap: 1rem;
  }

  .location > div {
    background-color: var(--c5);
    padding: 20px;
    font-size: 18px;
  }

  .forecast {
    background-color: var(--c5);
    max-width: 90%;
    overflow-x: auto;
  }

  .search-bar input {
    flex: 1;
    font-size: 1.6rem;
    width: 12ch;
  }

  /* spinner from https://loading.io/css/ */

  .lds-dual-ring {
    display: inline-block;
    margin: 25% auto;
    width: 40px;
    height: 40px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    margin: 4px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}

@media screen AND (max-width: 350px) {
  #app {
    width: 100vw;
    height: 100vh;
  }

  .container {
    font-size: 12px;
    margin: 8px;
  }

  .region > div {
    font-size: 2rem;
  }

  .location {
    padding: 4px;
    gap: 1rem;
  }

  .location > div {
    padding: 8px;
    font-size: 18px;
  }

  .forecast {
    max-width: 90%;
    overflow-x: auto;
    padding: 8px;
  }

  .search-bar input {
    flex: 1;
    font-size: 1.6rem;
    width: 8ch;
    box-sizing: border-box;
    background-color: var(--c4);
    color: white;
    border: none;
  }
}
