* {
  font-family: "Raleway", sans-serif;
  padding: 0px;
  margin: 0px;
  color: white;
}

:root {
  --c1: #95d6ea;
  --c2: #7bc7dd;
  --c3: #62a0c79a;
  --c4: #6392b691;
  --c5: rgba(70, 117, 141, 0.575);
}

::-webkit-scrollbar {
  width: 1%;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--c1);
  border-radius: 1px;
}

#app {
  width: 100vw;
  height: 100vh;
  background-image: url(./src/bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  grid-template-rows: 10% 80%;
}

.search-bar {
  display: flex;
  justify-self: center;
  align-items: center;
}

.container {
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 100%;
  margin: 24px;
  font-size: 24px;
  gap: 18px;
}

.region {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}

.region > div {
  font-size: 48px;
  font-weight: 600;
}

.region > .last-updated {
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
}

.location {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  font-size: 18px;
}

.location > div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: var(--c5);
  padding: 16px;
}

.location > div:hover {
  background-color: rgba(70, 117, 141, 0.9);
  transition: 250ms;
}

.location > div > img {
  width: 5rem;
}

.location > .today {
  display: flex;
  align-items: flex-end;
}

.forecast {
  box-sizing: border-box;
  padding: 12px;
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: var(--c5);
  padding-left: 40px;
  gap: 12px;
  overflow-x: auto;
}

.forecast:hover {
  background-color: rgba(70, 117, 141, 0.9);
  transition: 250ms;
}

.forecast-card {
  min-width: 10ch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap: 4px;
  text-align: center;
}

.hour {
  font-size: 18px;
}

.search-bar input {
  padding: 8px 12px;
  height: 3rem;
  font-size: 1.6rem;
  min-width: 40%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 4px solid rgba(255, 255, 255, 0.801);
  color: white;
}

.search-bar input:focus-visible {
  outline: auto rgba(255, 255, 255, 0.274);
  background-color: white;
  color: black;
  transition: 250ms;
}

.search-bar button {
  padding: 8px;
  border-radius: 12px;
  border-style: none;
  font-size: 1.5rem;
  color: white;
  background-color: transparent;
}

.search-bar button:hover {
  background-color: var(--c4);
  transition: 250ms;
}

.hidden {
  display: none;
}

.switch-hours-days {
  border-style: none;
  background-color: transparent;
  color: white;
  padding: 4px;
  font-size: 16px;
  border: 1px solid white;
  position: absolute;
  top: 0px;
  left: 0px;
}

.switch-hours-days:hover {
  background-color: var(--c4);
  transition: 250ms;
}

/* spinner from https://loading.io/css/ */

.lds-dual-ring {
  display: inline-block;
  margin: 25% auto;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen AND (max-width: 480px) {
  #app {
    width: 100vw;
    height: 100vh;
  }

  .container {
    font-size: 12px;
    margin: 8px;
  }

  .region {
    align-items: flex-start;
  }

  .region > div {
    font-size: 30px;
  }

  .last-updated {
    padding-left: 8px;
    font-size: 12px;
  }

  .location {
    justify-content: flex-start;
    padding: 12px;
    gap: 1rem;
  }

  .location > div {
    background-color: var(--c5);
    padding: 20px;
    font-size: 18px;
  }

  .forecast {
    background-color: var(--c5);
    overflow-x: auto;
  }

  .search-bar input {
    flex: 1;
    font-size: 1.6rem;
    width: 12ch;
  }

  /* spinner from https://loading.io/css/ */

  .lds-dual-ring {
    display: inline-block;
    margin: 25% auto;
    width: 40px;
    height: 40px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    margin: 4px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}

@media screen AND (max-width: 375px) {
  #app {
    width: 100vw;
    height: 100vh;
  }

  .container {
    font-size: 12px;
    margin-inline: 12px;
    gap: 50px;
  }

  .region {
    font-size: 26px;
    align-items: flex-start;
  }

  .last-updated {
    padding-left: 8px;
    font-size: 10px;
  }

  .location {
    padding: 4px;
    gap: 1rem;
    justify-content: stretch;
  }

  .location > div {
    justify-content: stretch;
    padding: 8px;
    font-size: 13px;
  }

  .forecast {
    overflow-x: auto;
    padding: 8px;
    gap: 8px;
    padding-top: 24px;
    font-size: 13px;
  }

  .forecast-card {
    padding: 10px;
    font-size: 13px;
  }
}
